header {
    background-color: #0c0c0b;
    color: gold;
    text-align: center;
    padding: 10px;
}

.contenedor-texto{
align-content: center;
margin: 100px;

}

.contenedor-texto p{
    
    font-family: 'Montserrat'  !important;
 }

 .contenedor-texto h3, h2{
    
    font-family: 'Rubik'  !important;
 }
    
    

